.cursor/
.cursorignore
.cursorindexingignore
.editorconfig
.pre-commit-config.yaml

.env
.env.example.save
.vscode
.env.save
.cursorignore
.cursorindexingignore
.editorconfig
.pre-commit-config.yaml
.cursor/
.utils/
.docs/
.experiments/
.credentials/
.credentials.json
*.ipynb
__pycache__/
logs/
*.out
poetry.lock
.langgraph_api/*
plan.md
venv2
get-pip.py
venv2
router_achitecture.md
requirements.txt
venv
# for testing only.
ama_main_test.py
send-mail.py
GEMINI.md
